.section.main-route-section
  //- Left Data Column
  .col-xs-12.col-md-8.main-route-section__left-column
    .panel
      .panel-body
        div Placeholder for latest posts

  //- Right Data Column
  .col-xs-12.col-md-4.main-route-section__right-column
    filters()
