doctype html
html(lang='en', ng-app='ngReduxExample', data-framework='angularjs')
  head
    meta(charset='utf-8')
    title Angular Redux Example
    link(rel='stylesheet', href='./bootstrap.min.css')
    link(rel='stylesheet', href='./app.css')
  body
    section.container(ui-view)
    script(src='./app.js')
